:root {
  /*   Variables */
  --dark-color: #202526;
  --light-color: #aeb1b3;
  --main-color: #353D40;
  --height: 75vh;
  --width: 45rem;
  --nametag: 5rem;
  --nametag-text: calc((var(--nametag) / 3.33));
  --nametag-color: FireBrick;
  --nametag-color2: Navy;
  font-size: 20pt;
}

/* Generic attributes */
* {
  margin: 0;
  text-align: center;
  transition: all 2s ease-in-out;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header {
height: 10rem;
} */
.wrapper {
  background-color: var(--dark-color);
  min-height: 100vh;
  width: 45rem;
  max-width: calc(100% - 6rem);
  margin: 0 auto;
  /*  flexy things  */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* Navbar and Footer */
.icon-bar {
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.icon {
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: 100ms;
}

.icon:hover {
  background-color: var(--main-color);
}

.icon a {
  display: block;
  padding: 2rem 2rem;
  overflow: hidden;
}

/* Panel section display */
#main {
  width: 100%;
  background-color: var(--main-color);
  border-radius: 1rem;
}

#main .panel {
  min-height: 30vh;
  opacity: 1;
  transition: all .5s ease-in-out;
  margin: 0 auto;
  padding: 3rem;
}

#main .inactive {
  display: none;
}

#main .fade {
  opacity: 0;
}

/* Welcome Panel */
#welcome-section {
  width: calc(4 * var(--nametag));
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.nametag {
  height: calc(2.5 * var(--nametag));
  width: calc(4 * var(--nametag));
  margin: 0 auto;
  font-size: var(--nametag-text);
  color: var(--light-color);
  background-color: var(--nametag-color);
  border-radius: 15px;
  transition: background-color 3s ease-in-out;
}

.nametag:hover {
  background-color: var(--nametag-color2);
}

.nametag h1 {
  font-size: calc(var(--nametag-text) * 2.5);
}

.nametag-top {
  height: calc(1.1 * var(--nametag));
  text-transform: uppercase;
  line-height: 1;
}

.nametag-write {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 15px;
  margin: 0 .6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(1.25 * var(--nametag));
  font-family: 'Indie Flower', 'Brush Script MT', cursive;
  font-size: calc(var(--nametag-text) * 1.25);
}

/* Projects panel */
.project-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 3rem auto;
}

.project-container a {
  flex: 1 1 15rem;
}

.project-tile {
  border: .25rem solid var(--light-color);
  background-color: var(--dark-color);
  border-radius: 1rem;
  height: 100%;
  box-sizing: border-box;
  padding: .5rem;
}

.project-description {
  margin-top: 1rem;
  text-align: initial;
}

/* About Me Panel */
#about {
  line-height: 1.5;
}

#about div {
  margin: 2.5rem auto;
}

#about .content {
  border: .25rem solid var(--light-color);
  background-color: var(--dark-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

/* Media queries for various sizes */
@media screen and (max-width: 1680px) {
  :root {
    font-size: 16pt;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    font-size: 14pt;
  }
}

/* Media query for mobile */
@media screen and (max-width: 768px) {
  :root {
    /*   Variables */
    --nametag: 5rem;
    font-size: 12pt;
  }

  #main .panel {
    padding: 1rem;
  }

  .icon:active {
    background-color: var(--main-color);
  }

  .nametag:active {
    background-color: var(--nametag-color2);
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 11pt;
  }

  #main .panel {
    padding: 1rem 0;
  }

  .wrapper {
    max-width: calc(100% - 2rem);
    min-width: 300px;
  }
}